We hope to download publication data and construct affiliation data for all the graduate student and PIs.

The first step is to identify the scopus authorid for each person. 
To do this we need to download a list of publications (a sample of these individual's publications) based on the pmids Chris shared with us, and use these publication sample to identify the authorid.
Then we use authorid to doanload all their publications. 

We have finished the graduate student data. Now we focus on Principal investigators (PIs)

Step 1: use the list of pmid (from "a list of PI pmid.dta") to download all the publication author information, create a table (named "publication sample") including 
auid, indexed_name, surname, given_name, eid, pmid, auth_posn.

Step 2: merge the data with "a list of PI pmid.dta" using pmid and authorposition (only keep the merged records), create a table with variables:

eid, auid, indexed_name, surname, given_name, cliuid.

Step 3: create a list of auid from above (named PI authorid.dta"), and use the author retrieval function (https://scopus.readthedocs.io/en/stable/reference/scopus.AuthorRetrieval.html) 
from Scopus to pull all the publications for each indivudals. Two functions can be used  to generate a list of eid ("get_document_eids").

Then create a table named "PI publication.dta" with variables:

eid, auid, auth_posn, pmid

Step 4. Use all the eids to download all the publication information as we did before (as below). 

However, this time we need more information about the publication, meaning Table 1 has more variables. On top of the variables we used last time, we need to download the following information.

(1) publicationName (or  title), aggregationType, journalname (or journal ), coverDate, volume, issueIdentifier, pageRange (or pages), doi, publicationyear 

(2) idxterms, subject_areas, authkeywords

(3) funding informaiton: funding,funding_text, chemicals, sequencebank

(4) If possible: also download issn.

In [9]:
import pandas as pd

df1 = pd.read_stata("a list of PI pmid.dta")
df1 = df1.rename(index=str, columns={'pmid_authposn': 'auth_posn'})
df1

     cliuid_2      pmid  auth_posn
0    A4801028   3574384          2
1    A4801028  13291872          3
2    A4801028  12983668          2
3    A4801028   4547285          2
4    A4801028   7583245          4
5    A4901255  14834152          3
6    A4901255  16590607          4
7    A4901255  16590214          2
8    A4901255  17736111          1
9    A4901255  16589608          3
10   A5101509   4551832          1
11   A5101509   2626605          4
12   A5101509  11486755          1
13   A5101509  14205021          2
14   A5101509   4181195          2
15   A5101583  11172018          8
16   A5101583  14483915          3
17   A5101583  15402548          2
18   A5101583  13673134          1
19   A5101583   6171737          3
20   A5200854  13286431          1
21   A5200854  14102197          4
22   A5200854  17838709          1
23   A5200854  13502421          1
24   A5200854  18113553          1
25   A5201020   4172200          2
26   A5201020  16589886          1
27   A5201020  13976196          2
28   A5201020   7177382          2
29   A5201020   4567757          2
..        ...       ...        ...
565  CLIU0001   9808044          4
566  CLIU0001  11418580          2
567  CLIU0001  10497132          2
568  CLIU0001   8781229          1
569  CLIU0001  20018653          4
570  CLIU0002  16347850          4
571  CLIU0002  17395828          4
572  CLIU0002  12396505          4
573  CLIU0002  11872466          4
574  CLIU0002   2110139          2
575  CLIU0003   1606098          1
576  CLIU0003  11275385          2
577  CLIU0003  10036248          2
578  CLIU0003   7970146          3
579  CLIU0003   1515922          3
580  CLIU0004   2000150          2
581  CLIU0004   8824447          3
582  CLIU0004   1321124          1
583  CLIU0004   2687285          3
584  CLIU0004   8707826          1
585  CLIU0005  15572149         11
586  CLIU0005  10996437          6
587  CLIU0005  11745616          3
588  CLIU0005  12818181          6
589  CLIU0005  21248705          3
590  CLIU0006   7630724          2
591  CLIU0006   9405413          5
592  CLIU0006   6349994          1
593  CLIU0006   9466913          3
594  CLIU0006  16348847          2

[595 rows x 3 columns]

In [2]:
from scopus import AbstractRetrieval

pmid = df1['pmid']

ab = AbstractRetrieval(pmid[0], view='FULL')

df2 = pd.DataFrame(ab.authors)
df2['pmid'] = pmid[0] # add pmid column

# Add author position
for i in range(len(df2)):
    df2.loc[i,'auth_posn'] = i+1
    
df2 = df2.drop('affiliation',axis=1)
df2['auth_posn'] = df2['auth_posn'].astype(int)
df2.to_csv('PI_publication_sample.csv',index=False)
df2

          auid  indexed_name  surname given_name     pmid  auth_posn
0  16482993600     Geiger G.   Geiger        Gad  3574384          1
1  57207897457  Lettvin J.Y.  Lettvin  Jerome Y.  3574384          2

In [3]:
# Step 1
for i in range(1,len(pmid)):
    try:
        ab = AbstractRetrieval(pmid[i], view='FULL')
        df2 = pd.DataFrame(ab.authors)
        df2['pmid'] = pmid[i]
        # Add author position
        for j in range(len(df2)):
            df2.loc[j,'auth_posn'] = j+1
        df2['auth_posn'] = df2['auth_posn'].astype(int)
        df2 = df2.drop('affiliation',axis=1)
        df2.to_csv('PI_publication_sample.csv', mode='a', header= False, index=False) # Step 1
    except:
        pass

In [10]:
# Step 2
df2 = pd.read_csv('PI_publication_sample.csv')
df3 = pd.merge(df1, df2, how='inner', on=['pmid','auth_posn']).drop_duplicates()
df3.to_csv('PI_authorid.csv',index=False) 
df3

,cliuid_2,pmid,auth_posn,auid,indexed_name,surname,given_name
0,A4801028,3574384,2,57207897457,Lettvin J.Y.,Lettvin,Jerome Y.
1,A4801028,13291872,3,57207897457,LETTVIN J.Y.,LETTVIN,J. Y.
2,A4801028,12983668,2,57207897457,LETTVIN J.Y.,LETTVIN,J. Y.
3,A4801028,4547285,2,57207897457,Lettvin J.Y.,Lettvin,J. Y.
4,A4801028,7583245,4,57207897457,Lettvin J.Y.,Lettvin,Jerome Y.
5,A4901255,14834152,3,7202545622,SCHMITT F.O.,SCHMITT,F. O.
6,A5101509,4551832,1,24292197700,Wall P.D.,Wall,P. D.
7,A5101509,2626605,4,24292197700,Wall P.D.,Wall,Patrick D.
8,A5101509,11486755,1,24292197700,Wall P.D.,Wall,Patrick D.
9,A5101509,14205021,2,24292197700,Wall P.D.,Wall,P. D.
10,A5101509,4181195,2,24292197700,Wall P.D.,Wall,Patrick D.
11,A5101583,11172018,8,7102270696,Eisen H.N.,Eisen,Herman N.
12,A5101583,14483915,3,7102270696,EISEN H.N.,EISEN,H. N.
13,A5101583,15402548,2,55197103800,Eisen H.N.,Eisen,Herman N.
14,A5101583,13673134,1,7102270696,EISEN H.N.,EISEN,H. N.
15,A5101583,6171737,3,7102270696,Eisen H.N.,Eisen,Herman N.
16,A5200854,13286431,1,7403016039,HALL C.E.,HALL,C. E.
17,A5200854,14102197,4,16054208600,Hall C.E.,Hall,Cecil E.
18,A5200854,13502421,1,16054208600,HALL C.E.,HALL,C. E.
19,A5200854,18113553,1,16054208600,Hall C.E.,Hall,C. E.
20,A5201020,4172200,2,57207531228,Levinthal C.,Levinthal,Cyrus
21,A5201020,13976196,2,35283109900,LEVINTHAL C.,LEVINTHAL,C.
22,A5201020,7177382,2,7003646740,Levinthal C.,Levinthal,C.
23,A5201020,4567757,2,7003646740,Levinthal C.,Levinthal,C.
24,A5201232,7159926,6,57203048538,Rich A.,Rich,Alexander
25,A5201232,1714564,4,57203048538,Rich A.,Rich,Alexander
26,A5201232,9371768,4,57203048538,Rich A.,Rich,Alexander
27,A5201232,4815723,3,57203048538,Rich A.,Rich,Alexander
28,A5300613,2605307,4,7004185770,Dowben R.M.,Dowben,R. M.
29,A5300613,4225034,3,7004185770,Dowben R.M.,Dowben,Robert M.
...,...,...,...,...,...,...,...
533,A9801993,20152124,12,55760756200,Liu G.,Liu,Guosong
534,A9801993,19439669,5,55760756200,Liu G.,Liu,Guosong
535,A9801993,7760934,1,55760756200,Liu G.,Liu,Guosong
536,A9801993,8606790,1,55760756200,Liu G.,Liu,G.
537,CLIU0001,9808044,4,7004881321,Cate J.H.,Cate,Jamie H.
538,CLIU0001,11418580,2,7004881321,Cate J.H.D.,Cate,J. H D
539,CLIU0001,10497132,2,7004881321,Cate J.H.,Cate,Jamie H.
540,CLIU0001,8781229,1,7004881321,Cate J.H.,Cate,Jamie H.
541,CLIU0001,20018653,4,7004881321,Cate J.H.D.,Cate,Jamie H.D.
542,CLIU0002,17395828,4,35458713600,Chisholm S.W.,Chisholm,Sallie W.
543,CLIU0002,11872466,4,35458713600,Chisholm S.W.,Chisholm,Sallie W.
544,CLIU0002,2110139,2,35458713600,Chisholm S.W.,Chisholm,S. W.
545,CLIU0003,1606098,1,7102827501,Raymond S.A.,Raymond,S. A.
546,CLIU0003,11275385,2,7102827501,Raymond S.A.,Raymond,Stephen A.
547,CLIU0003,10036248,2,7102827501,Raymond S.A.,Raymond,Strassman A.
548,CLIU0003,7970146,3,7102827501,Raymond S.A.,Raymond,Stephen A.
549,CLIU0003,1515922,3,7102827544,Raymond S.A.,Raymond,Stacey A.
550,CLIU0004,2000150,2,7202099114,Sanders S.L.,Sanders,Sylvia L.
551,CLIU0004,8824447,3,7202099114,Sanders S.,Sanders,S.
552,CLIU0004,1321124,1,7202099114,Sanders S.L.,Sanders,S. L.
553,CLIU0004,2687285,3,7202099114,Sanders S.L.,Sanders,S. L.
554,CLIU0004,8707826,1,7202099114,Sanders S.L.,Sanders,Sylvia L.
555,CLIU0005,10996437,6,35290994500,Shin H.-S.,Shin,Hee Sup
556,CLIU0005,11745616,3,35290994500,Shin H.-S.,Shin,Hee Sup
557,CLIU0005,12818181,6,35290994500,Shin H.-S.,Shin,Hee Sup
558,CLIU0005,21248705,3,35290994500,Shin H.-S.,Shin,Hee Sup
559,CLIU0006,7630724,2,7403523097,Taylor K.B.,Taylor,Kenneth B.
560,CLIU0006,9405413,5,7403523097,Taylor K.B.,Taylor,Kenneth B.
561,CLIU0006,6349994,1,7403523097,TAYLOR K.B.,TAYLOR,Kenneth B.
562,CLIU0006,9466913,3,7403523097,Taylor K.B.,Taylor,Kenneth B.

In [13]:
from scopus import AuthorRetrieval

df3 = pd.read_csv('PI_authorid.csv')
df3['eid'] = None
for i in range(len(df3)):
    try:
        au = AuthorRetrieval(df3['auid'][i]) 
        df3.at[i,'eid'] = au.get_document_eids(refresh=False)
    except:
        pass
df3

C:\Users\kd_ch\Anaconda3\lib\site-packages\scopus\author_retrieval.py:92: UserWarning: Profile with ID 55197103800 has been merged and the new ID is 7102270696.  Please update your records manually.  Files have been cached with the old ID.
  warn(text, UserWarning)

,cliuid_2,pmid,auth_posn,auid,indexed_name,surname,given_name,eid
0,A4801028,3574384,2,57207897457,Lettvin J.Y.,Lettvin,Jerome Y.,"[2-s2.0-85041979579, 2-s2.0-4143128954, 2-s2.0..."
1,A4801028,13291872,3,57207897457,LETTVIN J.Y.,LETTVIN,J. Y.,"[2-s2.0-85041979579, 2-s2.0-4143128954, 2-s2.0..."
2,A4801028,12983668,2,57207897457,LETTVIN J.Y.,LETTVIN,J. Y.,"[2-s2.0-85041979579, 2-s2.0-4143128954, 2-s2.0..."
3,A4801028,4547285,2,57207897457,Lettvin J.Y.,Lettvin,J. Y.,"[2-s2.0-85041979579, 2-s2.0-4143128954, 2-s2.0..."
4,A4801028,7583245,4,57207897457,Lettvin J.Y.,Lettvin,Jerome Y.,"[2-s2.0-85041979579, 2-s2.0-4143128954, 2-s2.0..."
5,A4901255,14834152,3,7202545622,SCHMITT F.O.,SCHMITT,F. O.,"[2-s2.0-0021944589, 2-s2.0-0021736481, 2-s2.0-..."
6,A5101509,4551832,1,24292197700,Wall P.D.,Wall,P. D.,"[2-s2.0-84956711522, 2-s2.0-84956506865, 2-s2...."
7,A5101509,2626605,4,24292197700,Wall P.D.,Wall,Patrick D.,"[2-s2.0-84956711522, 2-s2.0-84956506865, 2-s2...."
8,A5101509,11486755,1,24292197700,Wall P.D.,Wall,Patrick D.,"[2-s2.0-84956711522, 2-s2.0-84956506865, 2-s2...."
9,A5101509,14205021,2,24292197700,Wall P.D.,Wall,P. D.,"[2-s2.0-84956711522, 2-s2.0-84956506865, 2-s2...."
10,A5101509,4181195,2,24292197700,Wall P.D.,Wall,Patrick D.,"[2-s2.0-84956711522, 2-s2.0-84956506865, 2-s2...."
11,A5101583,11172018,8,7102270696,Eisen H.N.,Eisen,Herman N.,"[2-s2.0-84948677970, 2-s2.0-84922740556, 2-s2...."
12,A5101583,14483915,3,7102270696,EISEN H.N.,EISEN,H. N.,"[2-s2.0-84948677970, 2-s2.0-84922740556, 2-s2...."
13,A5101583,15402548,2,55197103800,Eisen H.N.,Eisen,Herman N.,"[2-s2.0-84948677970, 2-s2.0-84922740556, 2-s2...."
14,A5101583,13673134,1,7102270696,EISEN H.N.,EISEN,H. N.,"[2-s2.0-84948677970, 2-s2.0-84922740556, 2-s2...."
15,A5101583,6171737,3,7102270696,Eisen H.N.,Eisen,Herman N.,"[2-s2.0-84948677970, 2-s2.0-84922740556, 2-s2...."
16,A5200854,13286431,1,7403016039,HALL C.E.,HALL,C. E.,"[2-s2.0-0023789935, 2-s2.0-0022511978, 2-s2.0-..."
17,A5200854,14102197,4,16054208600,Hall C.E.,Hall,Cecil E.,"[2-s2.0-49849123143, 2-s2.0-0014285225, 2-s2.0..."
18,A5200854,13502421,1,16054208600,HALL C.E.,HALL,C. E.,"[2-s2.0-49849123143, 2-s2.0-0014285225, 2-s2.0..."
19,A5200854,18113553,1,16054208600,Hall C.E.,Hall,C. E.,"[2-s2.0-49849123143, 2-s2.0-0014285225, 2-s2.0..."
20,A5201020,4172200,2,57207531228,Levinthal C.,Levinthal,Cyrus,"[2-s2.0-0014944728, 2-s2.0-0014432517, 2-s2.0-..."
21,A5201020,13976196,2,35283109900,LEVINTHAL C.,LEVINTHAL,C.,[2-s2.0-73649149986]
22,A5201020,7177382,2,7003646740,Levinthal C.,Levinthal,C.,"[2-s2.0-0027447891, 2-s2.0-84986519265, 2-s2.0..."
23,A5201020,4567757,2,7003646740,Levinthal C.,Levinthal,C.,"[2-s2.0-0027447891, 2-s2.0-84986519265, 2-s2.0..."
24,A5201232,7159926,6,57203048538,Rich A.,Rich,Alexander,"[2-s2.0-84966443974, 2-s2.0-84872531927, 2-s2...."
25,A5201232,1714564,4,57203048538,Rich A.,Rich,Alexander,"[2-s2.0-84966443974, 2-s2.0-84872531927, 2-s2...."
26,A5201232,9371768,4,57203048538,Rich A.,Rich,Alexander,"[2-s2.0-84966443974, 2-s2.0-84872531927, 2-s2...."
27,A5201232,4815723,3,57203048538,Rich A.,Rich,Alexander,"[2-s2.0-84966443974, 2-s2.0-84872531927, 2-s2...."
28,A5300613,2605307,4,7004185770,Dowben R.M.,Dowben,R. M.,"[2-s2.0-0016407714, 2-s2.0-84986532407, 2-s2.0..."
29,A5300613,4225034,3,7004185770,Dowben R.M.,Dowben,Robert M.,"[2-s2.0-0016407714, 2-s2.0-84986532407, 2-s2.0..."
...,...,...,...,...,...,...,...,...
533,A9801993,20152124,12,55760756200,Liu G.,Liu,Guosong,"[2-s2.0-85062410119, 2-s2.0-85015611506, 2-s2...."
534,A9801993,19439669,5,55760756200,Liu G.,Liu,Guosong,"[2-s2.0-85062410119, 2-s2.0-85015611506, 2-s2...."
535,A9801993,7760934,1,55760756200,Liu G.,Liu,Guosong,"[2-s2.0-85062410119, 2-s2.0-85015611506, 2-s2...."
536,A9801993,8606790,1,55760756200,Liu G.,Liu,G.,"[2-s2.0-85062410119, 2-s2.0-85015611506, 2-s2...."
537,CLIU0001,9808044,4,7004881321,Cate J.H.,Cate,Jamie H.,"[2-s2.0-85063322312, 2-s2.0-85063936727, 2-s2...."
538,CLIU0001,11418580,2,7004881321,Cate J.H.D.,Cate,J. H D,"[2-s2.0-85063322312, 2-s2.0-85063936727, 2-s2...."
539,CLIU0001,10497132,2,7004881321,Cate J.H.,Cate,Jamie H.,"[2-s2.0-85063322312, 2-s2.0-85063936727, 2-s2...."
540,CLIU0001,8781229,1,7004881321,Cate J.H.,Cate,Jamie H.,"[2-s2.0-85063322312, 2-s2.0-85063936727, 2-s2...."
541,CLIU0001,20018653,4,7004881321,Cate J.H.D.,Cate,Jamie H.D.,"[2-s2.0-85063322312, 2-s2.0-85063936727, 2-s2...."
542,CLIU0002,17395828,4,35458713600,Chisholm S.W.,Chisholm,Sallie W.,"[2-s2.0-85061397196, 2-s2.0-85066458563, 2-s2...."
543,CLIU0002,11872466,4,35458713600,Chisholm S.W.,Chisholm,Sallie W.,"[2-s2.0-85061397196, 2-s2.0-85066458563, 2-s2...."
544,CLIU0002,2110139,2,35458713600,Chisholm S.W.,Chisholm,S. W.,"[2-s2.0-85061397196, 2-s2.0-85066458563, 2-s2...."
545,CLIU0003,1606098,1,7102827501,Raymond S.A.,Raymond,S. A.,"[2-s2.0-33847776823, 2-s2.0-33644651268, 2-s2...."
546,CLIU0003,11275385,2,7102827501,Raymond S.A.,Raymond,Stephen A.,"[2-s2.0-33847776823, 2-s2.0-33644651268, 2-s2...."
547,CLIU0003,10036248,2,7102827501,Raymond S.A.,Raymond,Strassman A.,"[2-s2.0-33847776823, 2-s2.0-33644651268, 2-s2...."
548,CLIU0003,7970146,3,7102827501,Raymond S.A.,Raymond,Stephen A.,"[2-s2.0-33847776823, 2-s2.0-33644651268, 2-s2...."
549,CLIU0003,1515922,3,7102827544,Raymond S.A.,Raymond,Stacey A.,[2-s2.0-0026579775]
550,CLIU0004,2000150,2,7202099114,Sanders S.L.,Sanders,Sylvia L.,"[2-s2.0-0033553672, 2-s2.0-0029999229, 2-s2.0-..."
551,CLIU0004,8824447,3,7202099114,Sanders S.,Sanders,S.,"[2-s2.0-0033553672, 2-s2.0-0029999229, 2-s2.0-..."
552,CLIU0004,1321124,1,7202099114,Sanders S.L.,Sanders,S. L.,"[2-s2.0-0033553672, 2-s2.0-0029999229, 2-s2.0-..."
553,CLIU0004,2687285,3,7202099114,Sanders S.L.,Sanders,S. L.,"[2-s2.0-0033553672, 2-s2.0-0029999229, 2-s2.0-..."
554,CLIU0004,8707826,1,7202099114,Sanders S.L.,Sanders,Sylvia L.,"[2-s2.0-0033553672, 2-s2.0-0029999229, 2-s2.0-..."
555,CLIU0005,10996437,6,35290994500,Shin H.-S.,Shin,Hee Sup,"[2-s2.0-85041206288, 2-s2.0-85036520130, 2-s2...."
556,CLIU0005,11745616,3,35290994500,Shin H.-S.,Shin,Hee Sup,"[2-s2.0-85041206288, 2-s2.0-85036520130, 2-s2...."
557,CLIU0005,12818181,6,35290994500,Shin H.-S.,Shin,Hee Sup,"[2-s2.0-85041206288, 2-s2.0-85036520130, 2-s2...."
558,CLIU0005,21248705,3,35290994500,Shin H.-S.,Shin,Hee Sup,"[2-s2.0-85041206288, 2-s2.0-85036520130, 2-s2...."
559,CLIU0006,7630724,2,7403523097,Taylor K.B.,Taylor,Kenneth B.,"[2-s2.0-13744264019, 2-s2.0-4344588228, 2-s2.0..."
560,CLIU0006,9405413,5,7403523097,Taylor K.B.,Taylor,Kenneth B.,"[2-s2.0-13744264019, 2-s2.0-4344588228, 2-s2.0..."
561,CLIU0006,6349994,1,7403523097,TAYLOR K.B.,TAYLOR,Kenneth B.,"[2-s2.0-13744264019, 2-s2.0-4344588228, 2-s2.0..."
562,CLIU0006,9466913,3,7403523097,Taylor K.B.,Taylor,Kenneth B.,"[2-s2.0-13744264019, 2-s2.0-4344588228, 2-s2.0..."

In [14]:
# Step 3
df4 = df3[['eid','auid','auth_posn','pmid']]
df4.to_csv('PI_publication.csv',index=False) 
df4

,eid,auid,auth_posn,pmid
0,"[2-s2.0-85041979579, 2-s2.0-4143128954, 2-s2.0...",57207897457,2,3574384
1,"[2-s2.0-85041979579, 2-s2.0-4143128954, 2-s2.0...",57207897457,3,13291872
2,"[2-s2.0-85041979579, 2-s2.0-4143128954, 2-s2.0...",57207897457,2,12983668
3,"[2-s2.0-85041979579, 2-s2.0-4143128954, 2-s2.0...",57207897457,2,4547285
4,"[2-s2.0-85041979579, 2-s2.0-4143128954, 2-s2.0...",57207897457,4,7583245
5,"[2-s2.0-0021944589, 2-s2.0-0021736481, 2-s2.0-...",7202545622,3,14834152
6,"[2-s2.0-84956711522, 2-s2.0-84956506865, 2-s2....",24292197700,1,4551832
7,"[2-s2.0-84956711522, 2-s2.0-84956506865, 2-s2....",24292197700,4,2626605
8,"[2-s2.0-84956711522, 2-s2.0-84956506865, 2-s2....",24292197700,1,11486755
9,"[2-s2.0-84956711522, 2-s2.0-84956506865, 2-s2....",24292197700,2,14205021
10,"[2-s2.0-84956711522, 2-s2.0-84956506865, 2-s2....",24292197700,2,4181195
11,"[2-s2.0-84948677970, 2-s2.0-84922740556, 2-s2....",7102270696,8,11172018
12,"[2-s2.0-84948677970, 2-s2.0-84922740556, 2-s2....",7102270696,3,14483915
13,"[2-s2.0-84948677970, 2-s2.0-84922740556, 2-s2....",55197103800,2,15402548
14,"[2-s2.0-84948677970, 2-s2.0-84922740556, 2-s2....",7102270696,1,13673134
15,"[2-s2.0-84948677970, 2-s2.0-84922740556, 2-s2....",7102270696,3,6171737
16,"[2-s2.0-0023789935, 2-s2.0-0022511978, 2-s2.0-...",7403016039,1,13286431
17,"[2-s2.0-49849123143, 2-s2.0-0014285225, 2-s2.0...",16054208600,4,14102197
18,"[2-s2.0-49849123143, 2-s2.0-0014285225, 2-s2.0...",16054208600,1,13502421
19,"[2-s2.0-49849123143, 2-s2.0-0014285225, 2-s2.0...",16054208600,1,18113553
20,"[2-s2.0-0014944728, 2-s2.0-0014432517, 2-s2.0-...",57207531228,2,4172200
21,[2-s2.0-73649149986],35283109900,2,13976196
22,"[2-s2.0-0027447891, 2-s2.0-84986519265, 2-s2.0...",7003646740,2,7177382
23,"[2-s2.0-0027447891, 2-s2.0-84986519265, 2-s2.0...",7003646740,2,4567757
24,"[2-s2.0-84966443974, 2-s2.0-84872531927, 2-s2....",57203048538,6,7159926
25,"[2-s2.0-84966443974, 2-s2.0-84872531927, 2-s2....",57203048538,4,1714564
26,"[2-s2.0-84966443974, 2-s2.0-84872531927, 2-s2....",57203048538,4,9371768
27,"[2-s2.0-84966443974, 2-s2.0-84872531927, 2-s2....",57203048538,3,4815723
28,"[2-s2.0-0016407714, 2-s2.0-84986532407, 2-s2.0...",7004185770,4,2605307
29,"[2-s2.0-0016407714, 2-s2.0-84986532407, 2-s2.0...",7004185770,3,4225034
...,...,...,...,...
533,"[2-s2.0-85062410119, 2-s2.0-85015611506, 2-s2....",55760756200,12,20152124
534,"[2-s2.0-85062410119, 2-s2.0-85015611506, 2-s2....",55760756200,5,19439669
535,"[2-s2.0-85062410119, 2-s2.0-85015611506, 2-s2....",55760756200,1,7760934
536,"[2-s2.0-85062410119, 2-s2.0-85015611506, 2-s2....",55760756200,1,8606790
537,"[2-s2.0-85063322312, 2-s2.0-85063936727, 2-s2....",7004881321,4,9808044
538,"[2-s2.0-85063322312, 2-s2.0-85063936727, 2-s2....",7004881321,2,11418580
539,"[2-s2.0-85063322312, 2-s2.0-85063936727, 2-s2....",7004881321,2,10497132
540,"[2-s2.0-85063322312, 2-s2.0-85063936727, 2-s2....",7004881321,1,8781229
541,"[2-s2.0-85063322312, 2-s2.0-85063936727, 2-s2....",7004881321,4,20018653
542,"[2-s2.0-85061397196, 2-s2.0-85066458563, 2-s2....",35458713600,4,17395828
543,"[2-s2.0-85061397196, 2-s2.0-85066458563, 2-s2....",35458713600,4,11872466
544,"[2-s2.0-85061397196, 2-s2.0-85066458563, 2-s2....",35458713600,2,2110139
545,"[2-s2.0-33847776823, 2-s2.0-33644651268, 2-s2....",7102827501,1,1606098
546,"[2-s2.0-33847776823, 2-s2.0-33644651268, 2-s2....",7102827501,2,11275385
547,"[2-s2.0-33847776823, 2-s2.0-33644651268, 2-s2....",7102827501,2,10036248
548,"[2-s2.0-33847776823, 2-s2.0-33644651268, 2-s2....",7102827501,3,7970146
549,[2-s2.0-0026579775],7102827544,3,1515922
550,"[2-s2.0-0033553672, 2-s2.0-0029999229, 2-s2.0-...",7202099114,2,2000150
551,"[2-s2.0-0033553672, 2-s2.0-0029999229, 2-s2.0-...",7202099114,3,8824447
552,"[2-s2.0-0033553672, 2-s2.0-0029999229, 2-s2.0-...",7202099114,1,1321124
553,"[2-s2.0-0033553672, 2-s2.0-0029999229, 2-s2.0-...",7202099114,3,2687285
554,"[2-s2.0-0033553672, 2-s2.0-0029999229, 2-s2.0-...",7202099114,1,8707826
555,"[2-s2.0-85041206288, 2-s2.0-85036520130, 2-s2....",35290994500,6,10996437
556,"[2-s2.0-85041206288, 2-s2.0-85036520130, 2-s2....",35290994500,3,11745616
557,"[2-s2.0-85041206288, 2-s2.0-85036520130, 2-s2....",35290994500,6,12818181
558,"[2-s2.0-85041206288, 2-s2.0-85036520130, 2-s2....",35290994500,3,21248705
559,"[2-s2.0-13744264019, 2-s2.0-4344588228, 2-s2.0...",7403523097,2,7630724
560,"[2-s2.0-13744264019, 2-s2.0-4344588228, 2-s2.0...",7403523097,5,9405413
561,"[2-s2.0-13744264019, 2-s2.0-4344588228, 2-s2.0...",7403523097,1,6349994
562,"[2-s2.0-13744264019, 2-s2.0-4344588228, 2-s2.0...",7403523097,3,9466913

### Tables 1-5

In [16]:
import pandas as pd
import ast
from scopus import AbstractRetrieval

df4 = pd.read_csv('PI_publication.csv')
lol = list(df4['eid']) # list of lists
print(lol[0][0]) # bracket
print(ast.literal_eval(lol[0])[0]) # eid

lst = [] # Convert lol to just a single list
for i in range(len(lol)):
    try:
        for item in ast.literal_eval(lol[i]):
            lst.append(item)
    except:
        pass
print(len(lst))
eid = list(set(lst)) # Remove duplicates
len(eid)

[
2-s2.0-85041979579
104578

23322

In [23]:
# Step 4
ab = AbstractRetrieval(eid[1], view='FULL')

table1 = pd.DataFrame(ab.authors)
table1['eid'] = eid[1] # add eid column

# Add author position
for i in range(len(table1)):
    table1.loc[i,'auth_posn'] = i+1

# Add additional columns
table1['publicationName'] = ab.publicationName
table1['aggregationType'] = ab.aggregationType
table1['coverDate'] = ab.coverDate
table1['volume'] = ab.volume
table1['issueIdentifier'] = ab.issueIdentifier
table1['pageRange'] = ab.pageRange
table1['doi'] = ab.doi
table1['PublicationYear'] = ab.get_ris().split('\n')[5][-4:]
table1['idxterms'] = ''
table1['subject_areas'] = ''
table1['authkeywords'] = ''
table1['funding'] = ''
table1['funding_text'] = ab.funding_text
table1['chemicals'] = ''
table1['sequencebank'] = ab.sequencebank
table1['issn'] = ab.issn
for i in range(len(table1)):
    table1.at[i,'idxterms'] = ab.idxterms
    table1.at[i,'subject_areas'] = ab.subject_areas
    table1.at[i,'authkeywords'] = ab.authkeywords
    table1.at[i,'funding'] = ab.funding
    table1.at[i,'chemicals'] = ab.chemicals

# Now we need to split up lists of affiliation ids to have 1 per row.

# Split affiliations in separate rows. First create a dataframe of affiliations
temp = table1.affiliation.apply(pd.Series)

# Merge table1 with temp, and clean up the data.
table1 = table1.merge(temp, left_index = True, right_index = True) \
             .drop(['affiliation'],axis=1) \
             .melt(id_vars = ['auid','eid','indexed_name','surname','given_name','auth_posn',\
                              'publicationName','aggregationType','coverDate','volume','issueIdentifier',\
                              'pageRange','doi','PublicationYear','idxterms','subject_areas','authkeywords',\
                              'funding','funding_text','chemicals','sequencebank','issn'],\
                   value_name = "affiliation_id") \
             .drop(['variable'], axis=1) \
             .dropna(subset=['affiliation_id'])
table1

,auid,eid,indexed_name,surname,given_name,auth_posn,publicationName,aggregationType,coverDate,volume,...,PublicationYear,idxterms,subject_areas,authkeywords,funding,funding_text,chemicals,sequencebank,issn,affiliation_id
0,12799271400,2-s2.0-76549129029,Gresham D.,Gresham,David,1.0,Proceedings of the National Academy of Science...,Journal,2010-01-26,107,...,2010,None,"[(Multidisciplinary, MULT, 1000)]","[DNA/DNA hybridization, Melting temperature, P...",None,None,"[(esbd, DNA, 9007-49-2), (nlm, DNA Probes, 0)]",None,00278424 10916490,60003269
1,7006974621,2-s2.0-76549129029,Curry B.,Curry,Bo,2.0,Proceedings of the National Academy of Science...,Journal,2010-01-26,107,...,2010,None,"[(Multidisciplinary, MULT, 1000)]","[DNA/DNA hybridization, Melting temperature, P...",None,None,"[(esbd, DNA, 9007-49-2), (nlm, DNA Probes, 0)]",None,00278424 10916490,60024780
2,15049126000,2-s2.0-76549129029,Ward A.,Ward,Alexandra,3.0,Proceedings of the National Academy of Science...,Journal,2010-01-26,107,...,2010,None,"[(Multidisciplinary, MULT, 1000)]","[DNA/DNA hybridization, Melting temperature, P...",None,None,"[(esbd, DNA, 9007-49-2), (nlm, DNA Probes, 0)]",None,00278424 10916490,60003269
3,55228966500,2-s2.0-76549129029,Gordon D.B.,Gordon,D. Benjamin,4.0,Proceedings of the National Academy of Science...,Journal,2010-01-26,107,...,2010,None,"[(Multidisciplinary, MULT, 1000)]","[DNA/DNA hybridization, Melting temperature, P...",None,None,"[(esbd, DNA, 9007-49-2), (nlm, DNA Probes, 0)]",None,00278424 10916490,60024780
4,7004075986,2-s2.0-76549129029,Brizuela L.,Brizuela,Leonardo,5.0,Proceedings of the National Academy of Science...,Journal,2010-01-26,107,...,2010,None,"[(Multidisciplinary, MULT, 1000)]","[DNA/DNA hybridization, Melting temperature, P...",None,None,"[(esbd, DNA, 9007-49-2), (nlm, DNA Probes, 0)]",None,00278424 10916490,60024780
5,7004989003,2-s2.0-76549129029,Kruglyak L.,Kruglyak,Leonid,6.0,Proceedings of the National Academy of Science...,Journal,2010-01-26,107,...,2010,None,"[(Multidisciplinary, MULT, 1000)]","[DNA/DNA hybridization, Melting temperature, P...",None,None,"[(esbd, DNA, 9007-49-2), (nlm, DNA Probes, 0)]",None,00278424 10916490,60003269
6,7102711191,2-s2.0-76549129029,Botstein D.,Botstein,David,7.0,Proceedings of the National Academy of Science...,Journal,2010-01-26,107,...,2010,None,"[(Multidisciplinary, MULT, 1000)]","[DNA/DNA hybridization, Melting temperature, P...",None,None,"[(esbd, DNA, 9007-49-2), (nlm, DNA Probes, 0)]",None,00278424 10916490,60003269
7,12799271400,2-s2.0-76549129029,Gresham D.,Gresham,David,1.0,Proceedings of the National Academy of Science...,Journal,2010-01-26,107,...,2010,None,"[(Multidisciplinary, MULT, 1000)]","[DNA/DNA hybridization, Melting temperature, P...",None,None,"[(esbd, DNA, 9007-49-2), (nlm, DNA Probes, 0)]",None,00278424 10916490,60003269
9,15049126000,2-s2.0-76549129029,Ward A.,Ward,Alexandra,3.0,Proceedings of the National Academy of Science...,Journal,2010-01-26,107,...,2010,None,"[(Multidisciplinary, MULT, 1000)]","[DNA/DNA hybridization, Melting temperature, P...",None,None,"[(esbd, DNA, 9007-49-2), (nlm, DNA Probes, 0)]",None,00278424 10916490,60003269
12,7004989003,2-s2.0-76549129029,Kruglyak L.,Kruglyak,Leonid,6.0,Proceedings of the National Academy of Science...,Journal,2010-01-26,107,...,2010,None,"[(Multidisciplinary, MULT, 1000)]","[DNA/DNA hybridization, Melting temperature, P...",None,None,"[(esbd, DNA, 9007-49-2), (nlm, DNA Probes, 0)]",None,00278424 10916490,60003269
13,7102711191,2-s2.0-76549129029,Botstein D.,Botstein,David,7.0,Proceedings of the National Academy of Science...,Journal,2010-01-26,107,...,2010,None,"[(Multidisciplinary, MULT, 1000)]","[DNA/DNA hybridization, Melting temperature, P...",None,None,"[(esbd, DNA, 9007-49-2), (nlm, DNA Probes, 0)]",None,00278424 10916490,60003269
14,12799271400,2-s2.0-76549129029,Gresham D.,Gresham,David,1.0,Proceedings of the National Academy of Science...,Journal,2010-01-26,107,...,2010,None,"[(Multidisciplinary, MULT, 1000)]","[DNA/DNA hybridization, Melting temperature, P...",None,None,"[(esbd, DNA, 9007-49-2), (nlm, DNA Probes, 0)]",None,00278424 10916490,60021784
19,7004989003,2-s2.0-76549129029,Kruglyak L.,Kruglyak,Leonid,6.0,Proceedings of the National Academy of Science...,Journal,2010-01-26,107,...,2010,None,"[(Multidisciplinary, MULT, 1000)]","[DNA/DNA hybridization, Melting temperature, P...",None,None,"[(esbd, DNA, 9007-49-2), (nlm, DNA Probes, 0)]",None,00278424 10916490,60003269

In [24]:
table2 = pd.DataFrame(ab.authorgroup)
table2['eid'] = eid[1] # add eid column
table2 = table2[['eid','auid','affiliation_id','organization','city_group']] # keep necessary variables
table2

,eid,auid,affiliation_id,organization,city_group
0,2-s2.0-76549129029,12799271400,60003269,"Department of Molecular Biology, Princeton Uni...","Princeton, NJ 08544"
1,2-s2.0-76549129029,15049126000,60003269,"Department of Molecular Biology, Princeton Uni...","Princeton, NJ 08544"
2,2-s2.0-76549129029,7102711191,60003269,"Department of Molecular Biology, Princeton Uni...","Princeton, NJ 08544"
3,2-s2.0-76549129029,12799271400,60003269,Lewis Sigler Institute for Integrative Genomic...,"Princeton, NJ 08544"
4,2-s2.0-76549129029,15049126000,60003269,Lewis Sigler Institute for Integrative Genomic...,"Princeton, NJ 08544"
5,2-s2.0-76549129029,7004989003,60003269,Lewis Sigler Institute for Integrative Genomic...,"Princeton, NJ 08544"
6,2-s2.0-76549129029,7102711191,60003269,Lewis Sigler Institute for Integrative Genomic...,"Princeton, NJ 08544"
7,2-s2.0-76549129029,12799271400,60021784,"Center for Genomics and Systems Biology, Depar...","New York, NY 10003"
8,2-s2.0-76549129029,7006974621,60024780,Agilent Technologies,"Santa Clara, CA 95051"
9,2-s2.0-76549129029,55228966500,60024780,Agilent Technologies,"Santa Clara, CA 95051"
10,2-s2.0-76549129029,7004075986,60024780,Agilent Technologies,"Santa Clara, CA 95051"
11,2-s2.0-76549129029,7004989003,60003269,Department of Ecology and Evolutionary Biology...,"Princeton, NJ 08544"
12,2-s2.0-76549129029,7004989003,60003269,"Howard Hughes Medical Institute, Princeton Uni...","Princeton, NJ 08544"

In [25]:
table3 = pd.merge(table1, table2, how='left', on=['auid','eid','affiliation_id'])
table3

,auid,eid,indexed_name,surname,given_name,auth_posn,publicationName,aggregationType,coverDate,volume,...,subject_areas,authkeywords,funding,funding_text,chemicals,sequencebank,issn,affiliation_id,organization,city_group
0,12799271400,2-s2.0-76549129029,Gresham D.,Gresham,David,1.0,Proceedings of the National Academy of Science...,Journal,2010-01-26,107,...,"[(Multidisciplinary, MULT, 1000)]","[DNA/DNA hybridization, Melting temperature, P...",None,None,"[(esbd, DNA, 9007-49-2), (nlm, DNA Probes, 0)]",None,00278424 10916490,60003269,"Department of Molecular Biology, Princeton Uni...","Princeton, NJ 08544"
1,12799271400,2-s2.0-76549129029,Gresham D.,Gresham,David,1.0,Proceedings of the National Academy of Science...,Journal,2010-01-26,107,...,"[(Multidisciplinary, MULT, 1000)]","[DNA/DNA hybridization, Melting temperature, P...",None,None,"[(esbd, DNA, 9007-49-2), (nlm, DNA Probes, 0)]",None,00278424 10916490,60003269,Lewis Sigler Institute for Integrative Genomic...,"Princeton, NJ 08544"
2,7006974621,2-s2.0-76549129029,Curry B.,Curry,Bo,2.0,Proceedings of the National Academy of Science...,Journal,2010-01-26,107,...,"[(Multidisciplinary, MULT, 1000)]","[DNA/DNA hybridization, Melting temperature, P...",None,None,"[(esbd, DNA, 9007-49-2), (nlm, DNA Probes, 0)]",None,00278424 10916490,60024780,Agilent Technologies,"Santa Clara, CA 95051"
3,15049126000,2-s2.0-76549129029,Ward A.,Ward,Alexandra,3.0,Proceedings of the National Academy of Science...,Journal,2010-01-26,107,...,"[(Multidisciplinary, MULT, 1000)]","[DNA/DNA hybridization, Melting temperature, P...",None,None,"[(esbd, DNA, 9007-49-2), (nlm, DNA Probes, 0)]",None,00278424 10916490,60003269,"Department of Molecular Biology, Princeton Uni...","Princeton, NJ 08544"
4,15049126000,2-s2.0-76549129029,Ward A.,Ward,Alexandra,3.0,Proceedings of the National Academy of Science...,Journal,2010-01-26,107,...,"[(Multidisciplinary, MULT, 1000)]","[DNA/DNA hybridization, Melting temperature, P...",None,None,"[(esbd, DNA, 9007-49-2), (nlm, DNA Probes, 0)]",None,00278424 10916490,60003269,Lewis Sigler Institute for Integrative Genomic...,"Princeton, NJ 08544"
5,55228966500,2-s2.0-76549129029,Gordon D.B.,Gordon,D. Benjamin,4.0,Proceedings of the National Academy of Science...,Journal,2010-01-26,107,...,"[(Multidisciplinary, MULT, 1000)]","[DNA/DNA hybridization, Melting temperature, P...",None,None,"[(esbd, DNA, 9007-49-2), (nlm, DNA Probes, 0)]",None,00278424 10916490,60024780,Agilent Technologies,"Santa Clara, CA 95051"
6,7004075986,2-s2.0-76549129029,Brizuela L.,Brizuela,Leonardo,5.0,Proceedings of the National Academy of Science...,Journal,2010-01-26,107,...,"[(Multidisciplinary, MULT, 1000)]","[DNA/DNA hybridization, Melting temperature, P...",None,None,"[(esbd, DNA, 9007-49-2), (nlm, DNA Probes, 0)]",None,00278424 10916490,60024780,Agilent Technologies,"Santa Clara, CA 95051"
7,7004989003,2-s2.0-76549129029,Kruglyak L.,Kruglyak,Leonid,6.0,Proceedings of the National Academy of Science...,Journal,2010-01-26,107,...,"[(Multidisciplinary, MULT, 1000)]","[DNA/DNA hybridization, Melting temperature, P...",None,None,"[(esbd, DNA, 9007-49-2), (nlm, DNA Probes, 0)]",None,00278424 10916490,60003269,Lewis Sigler Institute for Integrative Genomic...,"Princeton, NJ 08544"
8,7004989003,2-s2.0-76549129029,Kruglyak L.,Kruglyak,Leonid,6.0,Proceedings of the National Academy of Science...,Journal,2010-01-26,107,...,"[(Multidisciplinary, MULT, 1000)]","[DNA/DNA hybridization, Melting temperature, P...",None,None,"[(esbd, DNA, 9007-49-2), (nlm, DNA Probes, 0)]",None,00278424 10916490,60003269,Department of Ecology and Evolutionary Biology...,"Princeton, NJ 08544"
9,7004989003,2-s2.0-76549129029,Kruglyak L.,Kruglyak,Leonid,6.0,Proceedings of the National Academy of Science...,Journal,2010-01-26,107,...,"[(Multidisciplinary, MULT, 1000)]","[DNA/DNA hybridization, Melting temperature, P...",None,None,"[(esbd, DNA, 9007-49-2), (nlm, DNA Probes, 0)]",None,00278424 10916490,60003269,"Howard Hughes Medical Institute, Princeton Uni...","Princeton, NJ 08544"
10,7102711191,2-s2.0-76549129029,Botstein D.,Botstein,David,7.0,Proceedings of the National Academy of Science...,Journal,2010-01-26,107,...,"[(Multidisciplinary, MULT, 1000)]","[DNA/DNA hybridization, Melting temperature, P...",None,None,"[(esbd, DNA, 9007-49-2), (nlm, DNA Probes, 0)]",None,00278424 10916490,60003269,"Department of Molecular Biology, Princeton Uni...","Princeton, NJ 08544"
11,7102711191,2-s2.0-76549129029,Botstein D.,Botstein,David,7.0,Proceedings of the National Academy of Science...,Journal,2010-01-26,107,...,"[(Multidisciplinary, MULT, 1000)]","[DNA/DNA hybridization, Melting temperature, P...",None,None,"[(esbd, DNA, 9007-49-2), (nlm, DNA Probes, 0)]",None,00278424 10916490,60003269,Lewis Sigler Institute for Integrative Genomic...,"Princeton, NJ 08544"
12,12799271400,2-s2.0-76549129029,Gresham D.,Gresham,David,1.0,Proceedings of the National Academy of Science...,Journal,2010-01-26,107,...,"[(Multidisciplinary, MULT, 1000)]","[DNA/DNA hybridization, Melting temperature, P...",None,None,"[(esbd, DNA, 9007-49-2), (nlm, DNA Probes, 0)]",None,00278424 10916490,60003269,"Department of Molecular Biology, Princeton Uni...","Princeton, NJ 08544"
13,12799271400,2-s2.0-76549129029,Gresham D.,Gresham,David,1.0,Proceedings of the National Academy of Science...,Journal,2010-01-26,107,...,"[(Multidisciplinary, MULT, 1000)]","[DNA/DNA hybridization, Melting temperature, P...",None,None,"[(esbd, DNA, 9007-49-2), (nlm, DNA Probes, 0)]",None,00278424 10916490,60003269,Lewis Sigler Institute for Integrative Genomic...,"Princeton, NJ 08544"
14,15049126000,2-s2.0-76549129029,Ward A.,Ward,Alexandra,3.0,Proceedings of the National Academy of Science...,Journal,2010-01-26,107,...,"[(Multidisciplinary, MULT, 1000)]","[DNA/DNA hybridization, Melting temperature, P...",None,None,"[(esbd, DNA, 9007-49-2), (nlm, DNA Probes, 0)]",None,00278424 10916490,60003269,"Department of Molecular Biology, Princeton Uni...","Princeton, NJ 08544"
15,15049126000,2-s2.0-76549129029,Ward A.,Ward,Alexandra,3.0,Proceedings of the National Academy of Science...,Journal,2010-01-26,107,...,"[(Multidisciplinary, MULT, 1000)]","[DNA/DNA hybridization, Melting temperature, P...",None,None,"[(esbd, DNA, 9007-49-2), (nlm, DNA Probes, 0)]",None,00278424 10916490,60003269,Lewis Sigler Institute for Integrative Genomic...,"Princeton, NJ 08544"
16,7004989003,2-s2.0-76549129029,Kruglyak L.,Kruglyak,Leonid,6.0,Proceedings of the National Academy of Science...,Journal,2010-01-26,107,...,"[(Multidisciplinary, MULT, 1000)]","[DNA/DNA hybridization, Melting temperature, P...",None,None,"[(esbd, DNA, 9007-49-2), (nlm, DNA Probes, 0)]",None,00278424 10916490,60003269,Lewis Sigler Institute for Integrative Genomic...,"Princeton, NJ 08544"
17,7004989003,2-s2.0-76549129029,Kruglyak L.,Kruglyak,Leonid,6.0,Proceedings of the National Academy of Science...,Journal,2010-01-26,107,...,"[(Multidisciplinary, MULT, 1000)]","[DNA/DNA hybridization, Melting temperature, P...",None,None,"[(esbd, DNA, 9007-49-2), (nlm, DNA Probes, 0)]",None,00278424 10916490,60003269,Department of Ecology and Evolutionary Biology...,"Princeton, NJ 08544"
18,7004989003,2-s2.0-76549129029,Kruglyak L.,Kruglyak,Leonid,6.0,Proceedings of the National Academy of Science...,Journal,2010-01-26,107,...,"[(Multidisciplinary, MULT, 1000)]","[DNA/DNA hybridization, Melting temperature, P...",None,None,"[(esbd, DNA, 9007-49-2), (nlm, DNA Probes, 0)]",None,00278424 10916490,60003269,"Howard Hughes Medical Institute, Princeton Uni...","Princeton, NJ 08544"
19,7102711191,2-s2.0-76549129029,Botstein D.,Botstein,David,7.0,Proceedings of the National Academy of Science...,Journal,2010-01-26,107,...,"[(Multidisciplinary, MULT, 1000)]","[DNA/DNA hybridization, Melting temperature, P...",None,None,"[(esbd, DNA, 9007-49-2), (nlm, DNA Probes, 0)]",None,00278424 10916490,60003269,"Department of Molecular Biology, Princeton Uni...","Princeton, NJ 08544"
20,7102711191,2-s2.0-76549129029,Botstein D.,Botstein,David,7.0,Proceedings of the National Academy of Science...,Journal,2010-01-26,107,...,"[(Multidisciplinary, MULT, 1000)]","[DNA/DNA hybridization, Melting temperature, P...",None,None,"[(esbd, DNA, 9007-49-2), (nlm, DNA Probes, 0)]",None,00278424 10916490,60003269,Lewis Sigler Institute for Integrative Genomic...,"Princeton, NJ 08544"
21,12799271400,2-s2.0-76549129029,Gresham D.,Gresham,David,1.0,Proceedings of the National Academy of Science...,Journal,2010-01-26,107,...,"[(Multidisciplinary, MULT, 1000)]","[DNA/DNA hybridization, Melting temperature, P...",None,None,"[(esbd, DNA, 9007-49-2), (nlm, DNA Probes, 0)]",None,00278424 10916490,60021784,"Center for Genomics and Systems Biology, Depar...","New York, NY 10003"
22,7004989003,2-s2.0-76549129029,Kruglyak L.,Kruglyak,Leonid,6.0,Proceedings of the National Academy of Science...,Journal,2010-01-26,107,...,"[(Multidisciplinary, MULT, 1000)]","[DNA/DNA hybridization, Melting temperature, P...",None,None,"[(esbd, DNA, 9007-49-2), (nlm, DNA Probes, 0)]",None,00278424 10916490,60003269,Lewis Sigler Institute for Integrative Genomic...,"Princeton, NJ 08544"
23,7004989003,2-s2.0-76549129029,Kruglyak L.,Kruglyak,Leonid,6.0,Proceedings of the National Academy of Science...,Journal,2010-01-26,107,...,"[(Multidisciplinary, MULT, 1000)]","[DNA/DNA hybridization, Melting temperature, P...",None,None,"[(esbd, DNA, 9007-49-2), (nlm, DNA Probes, 0)]",None,00278424 10916490,60003269,Department of Ecology and Evolutionary Biology...,"Princeton, NJ 08544"
24,7004989003,2-s2.0-76549129029,Kruglyak L.,Kruglyak,Leonid,6.0,Proceedings of the National Academy of Science...,Journal,2010-01-26,107,...,"[(Multidisciplinary, MULT, 1000)]","[DNA/DNA hybridization, Melting temperature, P...",None,None,"[(esbd, DNA, 9007-49-2), (nlm, DNA Probes, 0)]",None,00278424 10916490,60003269,"Howard Hughes Medical Institute, Princeton Uni...","Princeton, NJ 08544"

In [26]:
ab = AbstractRetrieval(eid[1], view='FULL')
tab = pd.DataFrame(ab.authorgroup)
aff_ids = []
for item in tab['affiliation_id']:
    if item not in aff_ids:
        aff_ids.append(item)
aff_ids

['60003269', '60021784', '60024780']

In [27]:
from scopus import ContentAffiliationRetrieval

table4 = pd.DataFrame()
table5 = pd.DataFrame()
for item in aff_ids:
    aff = ContentAffiliationRetrieval(item)
    row4 = pd.DataFrame([[item, aff.affiliation_name, aff.sort_name, aff.org_type, aff.postal_code, aff.city, \
                          aff.state, aff.country, aff.org_domain, aff.org_URL]], \
                          columns = ['affiliation_id', 'affiliation_name', 'sort_name', 'org_type', 'postal_code',\
                                     'city', 'state', 'country', 'org_domain', 'org_URL'])
    table4 = table4.append(row4)
    row5 = pd.DataFrame(aff.name_variants)
    row5['affiliation_id'] = item
    table5 = table5.append(row5)
table4

,affiliation_id,affiliation_name,sort_name,org_type,postal_code,city,state,country,org_domain,org_URL
0,60003269,Princeton University,Princeton University,univ,8544,Princeton,NJ,United States,princeton.edu,http://www.princeton.edu/main/
0,60021784,New York University,New York University,univ,10012-1019,New York,NY,United States,nyu.edu,http://www.nyu.edu/
0,60024780,Agilent Technologies,Agilent Technologies,comp,95051,Santa Clara,CA,United States,agilent.com,http://www.agilent.com/about/index.html

In [28]:
table5

                                       name doc_count affiliation_id
0                      Princeton University    116752       60003269
1                            Princeton Univ      4367       60003269
2                           Princeton Univ.      1222       60003269
0                       New York University     80397       60021784
1                    University Of New York      2793       60021784
2                                       Nyu      1285       60021784
3         New York University School Of Law       932       60021784
4                            New York Univ.       906       60021784
5                             New York Univ       830       60021784
6   New York University College Of Medicine       750       60021784
7  New York University College Of Dentistry       606       60021784
0                      Agilent Technologies      2272       60024780
1                Agilent Technologies, Inc.       511       60024780
2                 Agilent Technologies Inc.       276       60024780
3                 Agilent Technologies, Inc        72       60024780
4                  Agilent Technologies Inc        55       60024780
5         Agilent Technologies Laboratories        40       60024780
6                                      Inc.        33       60024780
7                                   Agilent        26       60024780
8                                  Dako A/s        20       60024780

In [29]:
table1.to_csv('PI_table1.csv', index=False)
table2.to_csv('PI_table2.csv', index=False)